.payment_method_payu_latam_sdk_stores img, .payment_method_payu_latam_sdk_pls img, .payment_method_payu_latam_api_spei img{
    height: 2em;
    vertical-align: bottom !important;
}

#form-payu-latam-sdk input{
    display: block;
    width: 100%;
}

.ico_pm_BANCOMER,
.ico_pm_BANCOMER-DISABLED,
.ico_pm_BANK_REFERENCED,
.ico_pm_BANK_REFERENCED-DISABLED,
.ico_pm_IXE,
.ico_pm_IXE-DISABLED,
.ico_pm_OTHERS_CASH_MX,
.ico_pm_OTHERS_CASH_MX-DISABLED,
.ico_pm_OTHERS_CASH_MX_BANCO_FAMSA,
.ico_pm_OTHERS_CASH_MX_BANCO_FAMSA-DISABLED,
.ico_pm_OTHERS_CASH_MX_CIRCULO_K,
.ico_pm_OTHERS_CASH_MX_CIRCULO_K-DISABLED,
.ico_pm_OTHERS_CASH_MX_EXTRA,
.ico_pm_OTHERS_CASH_MX_EXTRA-DISABLED,
.ico_pm_OTHERS_CASH_MX_FARM_AHORRO,
.ico_pm_OTHERS_CASH_MX_FARM_AHORRO-DISABLED,
.ico_pm_OTHERS_CASH_MX_FARM_BENAVIDES,
.ico_pm_OTHERS_CASH_MX_FARM_BENAVIDES-DISABLED,
.ico_pm_OTHERS_CASH_MX_PRENDAMEX,
.ico_pm_OTHERS_CASH_MX_PRENDAMEX-DISABLED,
.ico_pm_OXXO,
.ico_pm_OXXO-DISABLED,
.ico_pm_SANTANDER,
.ico_pm_SANTANDER-DISABLED,
.ico_pm_SCOTIABANK,
.ico_pm_SCOTIABANK-DISABLED,
.ico_pm_SEVEN_ELEVEN,
.ico_pm_SEVEN_ELEVEN-DISABLED,
.ico_pm_SPEI,
.ico_pm_SPEI-DISABLED,
.ico_pm_verTodos,
.ico_pm_verTodos-DISABLED {
    display: inline-block;
    background-image: url(../images/spritebox-payment.png);
    background-size: 261px 240px;
    vertical-align: middle;
}


.ico_pm_BANCOMER,
.ico_pm_BANCOMER-DISABLED {
    background-position: 0 0;
    height: 40px;
    width: 87px
}

.ico_pm_BANK_REFERENCED,
.ico_pm_BANK_REFERENCED-DISABLED {
    background-position: 0 -40px;
    height: 40px;
    width: 87px
}

.ico_pm_IXE,
.ico_pm_IXE-DISABLED {
    background-position: -87px 0;
    height: 40px;
    width: 87px
}

.ico_pm_OTHERS_CASH_MX,
.ico_pm_OTHERS_CASH_MX-DISABLED {
    background-position: -87px -40px;
    height: 40px;
    width: 87px
}

.ico_pm_OTHERS_CASH_MX_BANCO_FAMSA,
.ico_pm_OTHERS_CASH_MX_BANCO_FAMSA-DISABLED {
    background-position: 0 -80px;
    height: 40px;
    width: 87px
}

.ico_pm_OTHERS_CASH_MX_CIRCULO_K,
.ico_pm_OTHERS_CASH_MX_CIRCULO_K-DISABLED {
    background-position: -87px -80px;
    height: 40px;
    width: 87px
}

.ico_pm_OTHERS_CASH_MX_EXTRA,
.ico_pm_OTHERS_CASH_MX_EXTRA-DISABLED {
    background-position: 0 -120px;
    height: 40px;
    width: 87px
}

.ico_pm_OTHERS_CASH_MX_FARM_AHORRO,
.ico_pm_OTHERS_CASH_MX_FARM_AHORRO-DISABLED {
    background-position: -87px -120px;
    height: 40px;
    width: 87px
}

.ico_pm_OTHERS_CASH_MX_FARM_BENAVIDES,
.ico_pm_OTHERS_CASH_MX_FARM_BENAVIDES-DISABLED {
    background-position: -174px 0;
    height: 40px;
    width: 87px
}

.ico_pm_OTHERS_CASH_MX_PRENDAMEX,
.ico_pm_OTHERS_CASH_MX_PRENDAMEX-DISABLED {
    background-position: -174px -40px;
    height: 40px;
    width: 87px
}

.ico_pm_OXXO,
.ico_pm_OXXO-DISABLED {
    background-position: -174px -80px;
    height: 40px;
    width: 87px
}

.ico_pm_SANTANDER,
.ico_pm_SANTANDER-DISABLED {
    background-position: -174px -120px;
    height: 40px;
    width: 87px
}

.ico_pm_SCOTIABANK,
.ico_pm_SCOTIABANK-DISABLED {
    background-position: 0 -160px;
    height: 40px;
    width: 87px
}

.ico_pm_SEVEN_ELEVEN,
.ico_pm_SEVEN_ELEVEN-DISABLED {
    background-position: -87px -160px;
    height: 40px;
    width: 87px
}

.ico_pm_SPEI,
.ico_pm_SPEI-DISABLED {
    background-position: -174px -160px;
    height: 40px;
    width: 87px
}

.ico_pm_verTodos,
.ico_pm_verTodos-DISABLED {
    background-position: 0 -200px;
    height: 40px;
    width: 87px
}