#order_review_heading{
    text-align: center;
    color: white;
    background-color: black;
}

#order_review{
    padding: 0 !important;
    .woocommerce-checkout-review-order-table{
        th{
            text-align: center;
        }
        tbody{
            background-color: #efefef;
            tr{
                &.order-total{
                    background-color: #efefef;
                }
                td:nth-child(1){
                    width:80%;
                    padding-left: 2em !important;
                }
                td:nth-child(2){
                    width:80%;
                    padding-right: 2em !important;
                }
                
            }
        }
        tfoot{
            tr{
                &.shipping-title{
                    background-color: #efefef;
                    text-align: center;
                }
                &.order-total{
                    background-color: #efefef;
                }
                ul#shipping_method{
                    padding: 0 3em;
                }
            }
        }
    }
    #payment{
        padding: 0 2em;
    }
}